.vs
.build
*.db
*.opendb
*.obj
*.lnk
ipch
Debug
*.log
.Temporary
.vc
.Result
3rdparty/*.docx
.DataSet

Qtdesigner
*.pro.user
seriesanalysis/cmdutility/Install
accumulate
.install
Release
*.sdf
*.v12.suo
