Release
Debug
*.sdf
*.opensdf
*.suo
*.aps
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app

*.log
.Temporary
.vc
.Result
3rdparty/*.docx