.vs
.build
*.db
*.opendb
*.obj
*.lnk
ipch
Debug
*.log
.Temporary
.vc
.Result
3rdparty/*.docx
.DataSet

Qtdesigner
*.pro.user
seriesanalysis/cmdutility/Install
accumulate
.install
Release
*.sdf
*.v12.suo
!lib/3rdParty/boost/boost/preprocessor/debug
*.aps
packages
sample.avi
sample.mp4
src/VideoNeutron
window_w32.cpp